.container {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 0;

    & .bg_black {
        position: relative;
        z-index: 999;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        filter: contrast(1.1);

        & .bg_poke {
            z-index: -1;
            position: absolute;
            top: 4rem;
            right: 0;
            filter: blur(8px) opacity(0.65);
            width: 70%;
            /* height: 100%; */
        }

        & .wrapper_detail {
            background-color: rgba(255, 255, 255, .6);
            border-radius: 10px;
            box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
            margin: 4rem;
            padding: 2rem 1.7rem;

            & .item {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                margin: .5rem 0;
                animation: fade-up .3s backwards;

                & img {
                    /* padding: 2rem 4rem; */
                    width: 80%;
                    min-width: 150px;
                    object-fit: cover;
                    animation: fade-up .3s backwards;
                }

                & h3 {
                    flex-grow: 2;
                    background-color: #fff;
                    border-radius: 1em;
                    padding: .5rem 2rem;
                    margin: .5rem 0;
                    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
                }

                & .item_head {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-around;
                    align-items: center;
                    width: 100%;


                    & .types_poke {
                        list-style-type: none;
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: center;
                        align-items: center;
                        margin-left: .75rem;

                        & .type {
                            margin-left: 5px;
                            color: #fff;
                            text-align: center;
                            border-radius: 1em;
                            padding: .25rem .5rem;

                            & svg {
                                align-items: center;
                            }
                        }
                    }
                }



                & .all_status {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-around;
                    align-items: baseline;

                    & .profile,
                    .abilities,
                    .stats {
                        padding: .5rem 2rem;
                    }
                }
            }

            .btn_back {
                margin: .5rem auto;
                animation: fade-left .3s backwards;

                & button {
                    background-color: #3787ff;
                    color: #fff;
                    border: none;
                    border-radius: 5px;
                    padding: .75rem 1.25rem;
                    font-size: larger;
                    font-weight: 500;
                    cursor: pointer;
                    transition: background-color .2s ease-in-out;

                    &:hover {
                        background-color: #1a75fd;
                    }
                }
            }
        }
    }
}

ul {
    list-style-type: circle;

    & li {
        line-height: 1.5rem;
    }
}

.name_poke {
    background-color: rgba(255, 255, 255, .2);
    border-radius: 1em;
    padding: .5rem 2rem;
    margin: .5rem 0;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}


@keyframes fade-up {
    0% { opacity: 0; transform: translateY(50px); }
    100% { opacity: 1; transform: translateY(0);}
}
@keyframes fade-left {
    0% { opacity: 0; transform: translateX(-50px); }
    100% { opacity: 1; transform: translateX(0);}
}
@keyframes fade-right {
    0% { opacity: 0; transform: translateX(50px); }
    100% { opacity: 1; transform: translateX(0);}
}