.container {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 0;

    & .bg_black {
        position: relative;
        z-index: 999;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        filter: contrast(1.2);

        & .bg_poke {
            z-index: -1;
            position: absolute;
            top: 4rem;
            right: 0;
            filter: blur(8px) opacity(0.65);
            width: 70%;
            /* height: 100%; */
        }

        & .wrapper_detail {
            background-color: rgba(255, 255, 255, .6);
            border-radius: 10px;
            box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
            margin: 4rem;
            padding: 2rem 4rem;

            & .item {
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                align-items: center;
                margin: 1rem 0;

                & img {
                    /* padding: 2rem 4rem; */
                    width: 80%;
                    min-width: 150px;
                    object-fit: cover;
                }

                & h3 {
                    flex-grow: 2;
                    background-color: #fff;
                    border-radius: 1em;
                    padding: .5rem 2rem;
                    margin: .5rem 0;
                    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
                }

                & .item_head {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-around;
                    align-items: center;
                    width: 100%;


                    & .types_poke {
                        list-style-type: none;
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: center;
                        align-items: center;
                        margin-left: .75rem;

                        & .type {
                            margin-left: 5px;
                            color: #fff;
                            text-align: center;
                            border-radius: 1em;
                            padding: .25rem .5rem;

                            & svg {
                                align-items: center;
                            }
                        }
                    }
                }



                & .all_status {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-around;
                    align-items: baseline;

                    & .profile,
                    .abilities,
                    .stats {
                        padding: .5rem 2rem;

                        & ul {
                            list-style-type: circle;

                            & li {
                                line-height: 2rem;
                            }
                        }
                    }
                }
            }

            .btn_back {
                margin: .5rem auto;

                & button {
                    background-color: #3787ff;
                    color: #fff;
                    border: none;
                    border-radius: 5px;
                    padding: .75rem 1.25rem;
                    font-size: larger;
                    font-weight: 500;
                    cursor: pointer;
                    transition: background-color .2s ease-in-out;

                    &:hover {
                        background-color: #1a75fd;
                    }
                }
            }
        }
    }
}

/* @media screen and (max-width: 840px) {
    .all_status {
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
} */
