.container {
    overflow: hidden;
    align-items: center;

    & .nav_con {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        background-color: #0f1829;
        border-radius: 10px;
        
        & .side_btn {
            & svg {
                width: 28px;
                height: 28px;
                color: aliceblue;
                cursor: pointer;
                transition: all .3s ease-in-out;
                &:nth-child(1) {
                    display: none;
                    width: 35px;
                    height: 35px;
                }
                &:nth-child(2) {
                    display: block;
                }
                &:active {
                    transform: scale(.7);
                }
            }
        }
        & ul {
            display: flex;
            align-items: center;
            
            & li {
                list-style-type: none;
                margin-right: 2rem;
                
                & button {
                    background-color: #0f1829;
                    font-size: large;
                    border-radius: 4px;
                    border: none;
                    color: aliceblue;
                    padding: .5rem 1rem;
                    transition: transform .3s ease-out, background-color .2s;
                    cursor: pointer;
                    
                    &:hover {
                        background-color: #0148cc;
                    }
                    &:active {
                        transform: scale(.7);
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 700px) {
    .container {
        & .nav_con {
            & .side_btn {
                & svg {
                    &:nth-child(1) {
                        display: block;
                    }
                    &:nth-child(2) {
                        display: none;

                    }
                }
            }

            & ul {
                display: none;
            }
        }
    }
}

/* @media screen and (min-width: 700px) {
    .close_side {
        display: none;
    }
} */