footer {
    background-color: #111;
    align-self: flex-end;
    /* position: fixed;
    bottom: 0;
    width: 100%; */


    & .wrapper_footer {
        display: flex;
        flex-flow: column;
        gap: .5rem;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;


        & ul {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4rem;
            width: 100%;

            & li {
                padding: .25rem .40rem;
                list-style: none;
                background-color: white;
                border-radius: 50%;

                & svg {
                    width: 1.4rem;
                    height: 1.4rem;
                    color: black;
                    opacity: .9;
                }

                &:hover {
                    background-color: #111;
                    transition: .5s;
                }
            }
        }

        & p {
            margin: 5px 0 3px 0;
            font-size: small;
            color: #fff;

            & .design_by {
                opacity: .7;
                text-transform: uppercase;
                letter-spacing: 3px;
                font-weight: 400;
                margin: 0 5px;
            }
        }
    }
}