.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    place-items: center;

    & .item {
        width: 150px;
        list-style: none;
        box-shadow: 0 0 5px gray;
        /* border: 5px solid gray; */

        & img {
            width: 100px;
            height: 100px;
        }
        & .bg_color {
            filter: blur(1px);
            width: 100px;
            height: 100px;
            position: relative;

            & img {
                position: absolute;
                width: 100%;
                top: 0;
                right: 0;
            }
        }
    }
}